@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-b from-[#0e1e2f] to-primary via-[#0E1420] via-20% font-Poppins text-white;
  }
}

* {
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  @apply font-Francois;
}

@layer components {

  /* Button */
  @import url('../components/core/Button/button.css');

  /* Typography */
  @import url('../components/core/Typography/typography.css');

  /* TextInput */
  @import url('../components/core/InputField/input-field.css');

  /* Common */
  @import url('../components/common.css');

  /* Slider */
  @import url('../components/Slider/slider.css');

  /* Navbar  */
  @import url('../components/Navbar/navbar.css');

  /* Page section */
  @import url('../components/sections.css');

  /* Tabs */
  @import url('../components/TabPills/tabs.css');
}
